:root {
    --color-main: black;
    --color-invert: white;
    --color--gray: #A6A6A6;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.main {
    max-width: 1440px;
    background-color: var(--color-main);
    padding: 104px 114px 121px;
}

.main__text {
    font-size: 62px;
    font-weight: 500;
    line-height: 120%;
    color: var(--color-invert);
    margin-bottom: 104px;
}

.flex {
    display: flex;
    gap: 28px;
}

.flex__left {
    width: 578px;
    height: 728px;
}


.flex__left img {
    width: 100%;
    border: 1px solid var(--color-invert);
}

.flex__right {
    display: flex;
    flex-direction: column;
    gap: 58px;
    width: 606px;
    height: 728px;
}

.flex__right img {
    width: 100%;
    border: 1px solid var(--color-invert);
}

.flex__text {
    width: 507px;
    color: var(--color--gray);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
}

.flex__link {
    display: flex;
    width: 137px;
    height: 59px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-invert);
    text-decoration: none;
    color: var(--color-main);
    font-size: 16px;
}

.footer {
    background-color: var(--color-main);
    padding-bottom: 120px;
}

.footer__flex {
    display: flex;
    height: 185px;
    padding: 0 111px;
    background-color: var(--color-invert);
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    color: var(--color-main);
    font-size: 42px;
    font-weight: 600;
    line-height: 120%;
}